:root {
  --primary: #dbb000;
  --white: #ffffff;
  --white: #f6fcfb;
  --dark: #242629;
  --dark-2: #000000;
}

/* primary fonts */
html {
  scroll-behavior: smooth;
}
body {
  overflow: auto !important;
  background-color: #fdfee8 !important;
}

.text-title-primary {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-subtitle-primary {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-paragraph-primary {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Secondary fonts */

.text-title-secondary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.text-subtitle-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.text-paragraph-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1.text-primary {
  color: var(--primary) !important  ;
}
.text-primary1 {
  color: var(--primary) !important;
}

header.sticky {
  background-color: transparent;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(36, 38, 41, 0.2);
}

header.scrolled {
  position: fixed;
  animation: bounceDrop 0.7s ease-in-out;
  background-color: var(--dark-2);
}

.header-link {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  font-size: larger;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.header-link:hover {
  box-shadow: inset 0 -5px var(--primary);
  transition: all 0.5s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Optional for better positioning */
}

.dropdown-toggle::after {
  display: none; /* Remove default arrow */
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.home-banner {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(images/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  z-index: -1;
}
.esl-banner {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(images/banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  z-index: 1;
}

.company-overview-bg {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: contain;
}

/* .company-overview-bg {
  position: relative;
  text-align: center;
  background-color: rgba(36, 38, 41, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.company-overview-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/logo-3d-.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  opacity: 0.2; 
  z-index: 0; 
}

.company-overview-bg > * {
  position: relative;
  z-index: 0; 
} */

.btn-close {
  color: var(--white) !important;
}

img.services-border {
  height: 113.4017105102539px;
  width: 124px;
  border-radius: 20px;
  border: 2px solid #dbb000;
}

.nav-link {
  color: var(--primary) !important;
}
button.active {
  color: var(--white) !important;
  background-color: var(--primary) !important;
}

ul li::marker {
  font-size: 22px;
  color: var(--primary);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 2px;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 70.25%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes bounceDrop {
  0% {
    top: -100px; /* Start off-screen */
  }
  60% {
    top: 0px; /* Bounce slightly below its final position */
  }
  80% {
    top: -10px; /* Bounce slightly above its final position */
  }
  100% {
    top: 0; /* Settle into the final position */
  }
}
